@font-face {
  font-family: 'CustomFont';
  src: url('./MazzardH-Black.otf') format('opentype');
  /* Add other font properties if needed */
}
body{
  font-family: 'CustomFont', sans-serif;
  font-weight: 300;
  background-image: url('Untitled.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  margin: 50px;
  font-size: 28px;
}

.box {
  display: flex;
  margin: 40px;
  margin-top: 60px;
  padding: 10px;
  border: 5px solid #ccc;
  border-radius: 30px;
  background-color: white;
}



.box1 .image {
  flex: 0 0 250px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.box1 .image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.box2 .image {
  flex: 0 0 150px;
  margin-left: 20px;
  overflow: hidden;
}

.box2 .image img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 50px;
  padding-top: 20px;
}

.daily{
  width: 65px;
  background-color: lightgoldenrodyellow; /* Light golden yellow */
  color: goldenrod; /* Deep golden yellow */
  border: none;
  border-radius: 5px;
  font-size: 23px;
  padding: 3px;
}

.ac{
  width: 55px;
  background-color: #BDF7BD; /* Light green */
  color: #006400; /* Deep green */
  border: none;
  border-radius: 5px;
  font-size: 23px;
  padding: 3px;
}

.link{
  color: #069683;
}


.reverse {
  flex-direction: row-reverse;
}

p {
  margin: 0;
}

.footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.footer button {
  width: 100%;
  height: 60px;
  padding: 10px 10px;
  background-color: lightcyan;
  color: #737270;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 23px;
}

.question{
  color: #737270;
  font-size: 28px;
}

.answer{
  font-size: 35px;;
}

.fare{
 text-align: right;
}

.footer2 {
  margin-top: 10px;
  display: flex;
}

.footer2 button {
  width: 75%;
  height: 60px;
  padding: 10px 10px;
  background-color: rgb(36, 190, 39);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 23px;
}

.bottom{
  text-align: center;
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  z-index: 999;
}

#video {
  width: 100%;
  height: 100%;
}

#loading-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 700px;
  height: 250px;
  display: none;
  z-index: 999;
  text-align: center;
  border-radius: 20px;
  font-size: 25px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  margin-top: 20px;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 700px;
  height: 900px;
  padding: 20px;
  display: none;
  z-index: 999;
  text-align: center;
  border-radius: 20px;
}

.success-modal {
  border-radius: 20px;
}

.success-message {
  color: #01B5A5;
  font-size: 60px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.detail {
  display: flex;
  flex-direction: row;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.value {
  margin-left: 5px;
}

.word-container {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: #737270;
  padding-left: 10px;
  padding-right: 10px;
}

.word-container .left-word {
  text-align: left;
}

.word-container .right-word {
  text-align: right;
}

.horizontal-line {
  border: none;
  border-top: 3px solid gray;
  margin: 20px 0;
}

#modal-button {
  width: 30%;
  height: 70px;
  padding: 10px 20px;
  background-color: #131069;
  font-size: 25px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 30px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 998;
}

#overlay.active {
  display: block;
}